pymdown-extensions>=10.12
pydoclint>=0.6.6
sphinx>=8.0
sphinx-autobuild>=2025.8.25
sphinx-book-theme>=1.1.4
nbsphinx>=0.9
sphinx-autodoc-typehints>=3.2.0
myst_nb>=1.3.0

jax
matplotlib
flax
seaborn>=0.13.2
tqdm>=4.67.1
scipy>=1.15.2
nlopt>=2.9.1
optax>=0.2.6
numpy<2.4